<div class="wrapper-md">
    <div class="row">
        <div class="section-header">
            <div class="col-xs-12-mobile no-padder-xs m-b-sm-mobile pull-right">
                <button class="btn btn-primary" ng-dialog="" ng-dialog-controller=""><i class="fa fa-plus m-r-xs"></i>Request karma</button>
            </div>
        </div>
        <div class="col-md-12">
            
            <div class="col-md-12 m-t-lg" ng-show="history.meta.total > 1">
                <div class="text-center" paging page="history.meta.skipped" page-size="history.meta.perPage" total="history.meta.total" paging-action="fetchguests(page)" ul-class="pagination m-n"></div>
            </div>

            <div  class="col-md-12 text-left animated  fadeInUp">
                <div class="panel row wrapper no-border m-t-lg">
                    <!-- <div class="clearfix padder-lg m-b-xl">
                        <div class="pull-right">
                            <button class="btn btn-success"><span>Apply</span></button>
                        </div>

                        <div class="pull-right choose-dates">
                            <span class="font-bold m-t-xs">Filter by date</span>
                            <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="dd MMM yyyy">
                                <input ng-model="startDate" type="text" placeholder="From" class="form-control"/>
                            </datepicker>
                            <datepicker button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>" date-format="dd MMM yyyy">
                                <input ng-model="endDate" type="text" placeholder="To" class="form-control"/>
                            </datepicker>
                        </div>

                    </div> -->

                    <div class="clearfix padder-lg hidden-mobile">
                        <span class="col-md-3 font-bold">No of Karma</span>
                        <span class="col-md-3 font-bold">Reason for Karma</span>
                        <span class="col-md-3 font-bold"></span>
                        <span class="col-md-3 font-bold">Date Given</span>
                    </div>
                    <div class="padder no-padder-xs">
                        <hr class="hidden-mobile m-b-xs">
                        <ul class="list-group bottom-border no-radius">
                            <li class="list-group-item">
                                <span class="col-md-3 col-xs-4">20</span>
                                <span class="col-md-4 col-xs-4 text-ellipsis">Submitted a PR for AndroidChatUI</span>
                                <span class="col-md-2 font-bold"></span>
                                <span class="col-md-3 col-xs-4">2 days ago</span>

                            </li>
                            <li class="list-group-item">
                                <span class="col-md-3 col-xs-4">15</span>
                                <span class="col-md-4 col-xs-4 text-ellipsis">Answered a question on Devcenter-Square</span>
                                <span class="col-md-2 font-bold"></span>
                                <span class="col-md-3 col-xs-4">5 days ago</span>

                            </li>
                            <li class="list-group-item">
                                <span class="col-md-3 col-xs-4">10</span>
                                <span class="col-md-4 col-xs-4 text-ellipsis">Pushed code to states-cities Repo</span>
                                <span class="col-md-2 font-bold"></span>
                                <span class="col-md-3 col-xs-4">7 days ago</span>

                            </li>
                            <li class="list-group-item">
                                <span class="col-md-3 col-xs-4">5</span>
                                <span class="col-md-4 col-xs-4 text-ellipsis">Fixed a problem on our repo</span>
                                <span class="col-md-2 font-bold"></span>
                                <span class="col-md-3 col-xs-4">13 days ago</span>

                            </li>
                            <li class="list-group-item b-b">
                                <span class="col-md-3 col-xs-4">40</span>
                                <span class="col-md-4 col-xs-4 text-ellipsis">Completed a project successfully</span>
                                <span class="col-md-2 font-bold"></span>
                                <span class="col-md-3 col-xs-4">20 weeks ago</span>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
