<div class="col-md-12 inner-content animated  fadeInUp">
    <div class="panel row wrapper no-border m-t-lg">
        <div class="clearfix padder-lg hidden-mobile">
            <span class="col-md-3 font-bold">Full Name</span>
            <span class="col-md-3 font-bold">Slack Username</span>
            <span class="col-md-3 font-bold">Karma</span>
            <span class="col-md-3 font-bold"></span>
        </div>
        <div class="padder no-padder-xs">
            <hr class="hidden-mobile m-b-xs">
            <ul class="list-group bottom-border no-radius">
                <li class="list-group-item">
                    <span class="col-md-3 col-xs-3">Ted Oladele</span>
                    <span class="col-md-3 col-xs-3 text-ellipsis">Ted</span>
                    <span class="col-md-3 col-xs-3">20</span>
                    <span class="col-md-3 col-xs-3 text-right">
                        <button class="btn btn-sm btn-primary" ng-click="">
                        	Give karma
                        </button>
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="col-md-3 col-xs-3">Efe Money</span>
                    <span class="col-md-3 col-xs-3 text-ellipsis">Efemoney</span>
                    <span class="col-md-3 col-xs-3">15</span>
                    <span class="col-md-3 col-xs-3 text-right">
                        <button class="btn btn-sm btn-primary" ng-click="">
                        	Give karma
                        </button>
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="col-md-3 col-xs-3">Akin Falomo</span>
                    <span class="col-md-3 col-xs-3 text-ellipsis">Akinfals</span>
                    <span class="col-md-3 col-xs-3">15</span>
                    <span class="col-md-3 col-xs-3 text-right">
                        <button class="btn btn-sm btn-primary" ng-click="">
                        	Give karma
                        </button>
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="col-md-3 col-xs-3">Timi god</span>
                    <span class="col-md-3 col-xs-3 text-ellipsis">Timigod</span>
                    <span class="col-md-3 col-xs-3">10</span>
                    <span class="col-md-3 col-xs-3 text-right">
                        <button class="btn btn-sm btn-primary" ng-click="">
                        	Give karma
                        </button>
                    </span>
                </li>
                <li class="list-group-item b-b">
                    <span class="col-md-3 col-xs-3">DJ Khaled</span>
                    <span class="col-md-3 col-xs-3 text-ellipsis">Keys2success</span>
                    <span class="col-md-3 col-xs-3">8</span>
                    <span class="col-md-3 col-xs-3 text-right">
                        <button class="btn btn-sm btn-primary" ng-click="">
                        	Give karma
                        </button>
                    </span>
                </li>
            </ul> 
        </div>
    </div>
</div>